* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  font-family: "Roboto", sans-serif;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-48 {
  font-size: 48px;
}

nav {
  background: #031f1d;
}

h2 {
  font-family: "VT323", monospace;
  font-size: 48px;
}

.fundo-cinza {
  background-color: #d9d9d9;
}

.fundo-verde {
  background-color: #031f1d;
}

footer {
  background-color: #031f1d;
  margin-bottom: 0;
}

.container-nav {
  padding: 16px 32px;

  margin: 0 auto;
  background: #031f1d;
  max-width: 1442px;
  width: 100%;
  height: 124px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-logo {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  gap: 32px;
  align-items: center;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 0 !important;
}

li {
  color: #fff;
}

li:hover {
  cursor: pointer;
  color: #ff9e00;
  font-weight: 700;
  text-decoration: underline;
}
