* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: regular;
  color: #494949;
}
card {
}

.content {
  background: #ff9e00;
  padding: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
  color: #2b0e05;
  line-height: 28px;
}

.fs-48 {
  font-size: 48px;
}

.container {
  max-width: 1440px;
  padding: 16px 32px;
}

nav {
  background: #031f1d;
}

h2 {
  font-family: "VT323", monospace;
  font-size: 48px;
}

.fundo-cinza {
  background-color: #d9d9d9;
}

.fundo-verde {
  background-color: #031f1d;
}

footer {
  background-color: #031f1d;
  margin-bottom: 0;
}

.container-nav {
  padding: 16px 32px;

  margin: 0 auto;
  background: #031f1d;
  max-width: 1440px;
  width: 100%;
  height: 124px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-logo {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  gap: 32px;
  align-items: center;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 0 !important;
}

li {
  color: #fff;
}

li:hover {
  cursor: pointer;
  color: #ff9e00;
  font-weight: 700;
  text-decoration: underline;
}

.card-service {
  max-width: 680px;
  width: 100%;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 32px;
  border-radius: 8px;

  background: #d9d9d9;

  p {
    font-size: 24px;
    margin: 0;
  }
}

.wrapper-service {
  display: flex;
  justify-content: space-between;
}

.wrapper-apresentation {
  background: #d9d9d9;
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 32px;
  border-radius: 8px;

  p {
    font-size: 32px;
    font-weight: 500;
  }
}

.title-apresentation {
  letter-spacing: 5px;
  margin: 0;
}

.container-contact {
  background: #031f1d;
  padding: 32px;
  display: flex;
  gap: 32px;

  border-radius: 8px;
}

.text {
  max-width: 532px;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
